In [225]:
import pandas as pd
import numpy as np
import tabula

In [131]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [159]:
file_path = 'D:/130421/Project_DataAnalysis_ReportOnHRData.pdf'
raw_data = tabula.read_pdf(file_path, pages="all")
df = raw_data.copy()

In [160]:
df[0]

,Name,Start Date,End Date,Department,Position,Salary
0,Walter J Miller,15-01-2020,NaN,Sales,Sales Assistant,"25,709"
1,Alissa Mitchell,11-06-2019,NaN,Marketing,Marketing Assistant,"25,600"
2,Andre C Cooper,02-10-2018,NaN,Procurement,Procurement Assistant,"23,500"
3,Ann Withers,02-09-2019,03-02-2020,Procurement,Procurement Assistant,"23,500"
4,Ann Withers,03-02-2020,NaN,Procurement,Buyer,"25,000"
5,Kim West,01-02-2018,NaN,Sales,Sales Assistant,"26,500"
6,Daniel A Garrett,01-08-2017,NaN,Finance,Accountant,"24,700"
7,Lyric Nate Wise,24-04-2018,NaN,Sales,Sales Assistant,"24,200"
8,Robert Marquez,01-03-2017,NaN,Procurement,Buyer,"26,500"
9,Vanessa Chavez,29-11-2017,NaN,Sales,Sales Representative,"30,600"
10,Brylee Hunter,31-05-2017,NaN,Procurement,Buyer,"30,200"
11,Robert Musser,01-10-2018,NaN,Procurement,Buyer,"28,400"
12,Reid Good,14-03-2017,NaN,Sales,Sales Representative,"31,900"
13,Christopher P Sharp,22-08-2016,NaN,Sales,Sales Representative,"32,500"
14,Jessica Lowe,11-01-2017,NaN,Sales,Sales Representative,"32,800"
15,Evie Williamson,20-12-2016,NaN,Sales,Sales Assistant,"25,900"
16,Skye Bennett,31-10-2016,NaN,Finance,Accountant,"26,900"
17,Braeden Wilkins,23-03-2016,NaN,Finance,Accountant,"47,200"
18,Donald Caldwell,01-03-2017,03-06-2019,Finance,Financial Analyst,"29,800"
19,Donald Caldwell,03-06-2019,NaN,Finance,Controller,"40,000"
20,Amber Stevens,23-07-2018,NaN,Procurement,Buyer,"31,200"
21,Matilda Parry,04-07-2016,NaN,Sales,Regional Sales Manager,"49,500"
22,Makai Bond,04-11-2015,NaN,Sales,Sales Representative,"32,500"
23,Paul Garza,01-02-2016,NaN,Sales,Sales Representative,"34,808"
24,Nico Gaines,14-03-2017,NaN,Procurement,Buyer,"34,700"
25,Jordan Parry,21-08-2017,NaN,Marketing,Digital Marketing,"58,300"
26,Lamar Fry,31-08-2015,NaN,Sales,Sales Representative,"36,800"
27,Charlie Chambers,06-08-2015,NaN,Marketing,Digital Marketing,"36,400"
28,Natalie Porter,04-02-2019,02-01-2020,Sales,Sales Representative,"32,100"
29,Natalie Porter,02-01-2020,02-03-2020,Sales,Sales Analyst,"35,000"
30,Natalie Porter,02-03-2020,NaN,Finance,Financial Analyst,"35,000"
31,Jim Mcguire,20-06-2016,NaN,Sales,Sales Representative,"39,600"
32,Roger Mun,02-09-2013,NaN,Legal,Attorney,"89,700"
33,James Rogers,19-02-2015,NaN,Procurement,Buyer,"38,900"
34,Tommy K Dixon,06-10-2016,NaN,Sales,Sales Analyst,"38,500"
35,Robert Hurley,22-05-2017,NaN,Sales,Sales Analyst,"39,400"
36,Harry Burke,21-07-2014,NaN,Sales,Sales Analyst,"42,500"
37,Robert N Spear,05-01-2015,NaN,Sales,Sales Representative,"43,668"
38,Richard Elliot,05-11-2014,NaN,Finance,Financial Analyst,"49,727"
39,Aydin Merritt,04-11-2013,NaN,Sales,Sales Representative,"48,500"

In [161]:
df[1]

,James Willard,02-12-2013,Unnamed: 0,Sales,Sales Representative,"49,627"
0,Lukas Hofer,24-09-2018,NaN,Finance,Tax Analyst,"49,000"
1,Jude Bell,11-10-2013,NaN,Procurement,Lead Buyer,"56,500"
2,Heidi Medina,27-06-2014,NaN,Marketing,Marketing Manager,"79,600"
3,Ashton Kelly,13-08-2013,NaN,Procurement,Lead Buyer,"57,800"
4,Matthew Ross,24-07-2015,NaN,Procurement,Lead Buyer,"59,900"
5,Esme Carney,20-06-2016,NaN,Procurement,Buyer,"48,500"
6,Zac Fletcher,15-07-2013,NaN,Sales,Sales Assistant,"41,200"
7,Kristina Mclean,27-12-2013,NaN,Sales,Sales Analyst,"52,100"
8,Maria Tot,05-01-2015,NaN,Sales,Sales Representative,"88,000"
9,Wolfgang Ramjac,01-07-2002,NaN,Sales,Sales Representative,"1,16,000"
10,Tom Wood,08-05-2013,NaN,Procurement,Lead Buyer,"65,200"
11,Peter Ramsy,03-05-2010,NaN,Sales,Sales Representative,"65,432"
12,Betina Bauer,03-01-2019,NaN,Procurement,Buyer,"54,600"
13,Cora Briggs,16-09-2013,NaN,Procurement,Buyer,"51,300"
14,Matilda Collier,28-05-2013,NaN,Sales,Sales Representative,"65,200"
15,Mike Saban,10-08-2015,NaN,Procurement,Category Manager,"1,02,500"
16,Paul Wells,01-09-2016,NaN,Sales,Sales Representative,"63,500"
17,Ewan Long Thompson,03-09-2008,NaN,Sales,Regional Sales Manager,"70,270"
18,Gary Miller,04-09-2006,NaN,Finance,Controller,"65,270"
19,Holly Macdonald,04-11-2019,NaN,Finance,Insurance Advisor,"78,600"
20,Crystal Doyle,03-12-2012,NaN,Finance,Finance Director,"1,45,000"
21,Corinna Schmidt,15-07-2010,NaN,Procurement,Category Manager,"86,055"
22,Robert Blume,04-07-2016,NaN,Sales,Sales Representative,"59,600"
23,Brigitte Bond,02-03-2015,NaN,Sales,Regional Sales Manager,"1,15,000"
24,Cerys Holmes,07-08-2017,NaN,Finance,Tax Professional,"88,300"
25,Imogen Clarke,15-05-2019,NaN,Finance,Tax Professional,"86,500"
26,Paul Hill,05-04-2006,03-09-2018,Finance,Controller,"60,000"
27,Paul Hill,03-09-2018,NaN,Finance,Finance Manager,"1,08,357"
28,Stevie Bridge,03-10-2011,NaN,Sales,Sales Manager,"1,25,600"
29,Alex Collins,10-01-2020,NaN,Procurement,Procurement Manager,"1,42,000"
30,Robert Richardson,01-11-2016,NaN,Sales,Head of Sales,"1,41,200"
31,Maisie Burton,12-11-2012,NaN,Management,Managing Director,"1,85,000"
32,Brittany Lee Long,22-10-2018,NaN,Management,Assistant to MD,"55,800"
33,Dan Ziegler,03-02-2020,NaN,Legal,Head of Legal,"1,25,000"
34,Daniela Schreiber,02-03-2015,NaN,Legal,Attorney,"91,000"

In [162]:
df[0].columns

Index(['Name', 'Start Date', 'End Date', 'Department', 'Position', 'Salary'], dtype='object')

In [163]:
df[1] = df[1].columns.to_frame().T.append(df[1], ignore_index=True)

In [165]:
df[1].columns = df[0].columns

In [166]:
df[1]

,Name,Start Date,End Date,Department,Position,Salary
0,James Willard,02-12-2013,Unnamed: 0,Sales,Sales Representative,"49,627"
1,Lukas Hofer,24-09-2018,NaN,Finance,Tax Analyst,"49,000"
2,Jude Bell,11-10-2013,NaN,Procurement,Lead Buyer,"56,500"
3,Heidi Medina,27-06-2014,NaN,Marketing,Marketing Manager,"79,600"
4,Ashton Kelly,13-08-2013,NaN,Procurement,Lead Buyer,"57,800"
5,Matthew Ross,24-07-2015,NaN,Procurement,Lead Buyer,"59,900"
6,Esme Carney,20-06-2016,NaN,Procurement,Buyer,"48,500"
7,Zac Fletcher,15-07-2013,NaN,Sales,Sales Assistant,"41,200"
8,Kristina Mclean,27-12-2013,NaN,Sales,Sales Analyst,"52,100"
9,Maria Tot,05-01-2015,NaN,Sales,Sales Representative,"88,000"
10,Wolfgang Ramjac,01-07-2002,NaN,Sales,Sales Representative,"1,16,000"
11,Tom Wood,08-05-2013,NaN,Procurement,Lead Buyer,"65,200"
12,Peter Ramsy,03-05-2010,NaN,Sales,Sales Representative,"65,432"
13,Betina Bauer,03-01-2019,NaN,Procurement,Buyer,"54,600"
14,Cora Briggs,16-09-2013,NaN,Procurement,Buyer,"51,300"
15,Matilda Collier,28-05-2013,NaN,Sales,Sales Representative,"65,200"
16,Mike Saban,10-08-2015,NaN,Procurement,Category Manager,"1,02,500"
17,Paul Wells,01-09-2016,NaN,Sales,Sales Representative,"63,500"
18,Ewan Long Thompson,03-09-2008,NaN,Sales,Regional Sales Manager,"70,270"
19,Gary Miller,04-09-2006,NaN,Finance,Controller,"65,270"
20,Holly Macdonald,04-11-2019,NaN,Finance,Insurance Advisor,"78,600"
21,Crystal Doyle,03-12-2012,NaN,Finance,Finance Director,"1,45,000"
22,Corinna Schmidt,15-07-2010,NaN,Procurement,Category Manager,"86,055"
23,Robert Blume,04-07-2016,NaN,Sales,Sales Representative,"59,600"
24,Brigitte Bond,02-03-2015,NaN,Sales,Regional Sales Manager,"1,15,000"
25,Cerys Holmes,07-08-2017,NaN,Finance,Tax Professional,"88,300"
26,Imogen Clarke,15-05-2019,NaN,Finance,Tax Professional,"86,500"
27,Paul Hill,05-04-2006,03-09-2018,Finance,Controller,"60,000"
28,Paul Hill,03-09-2018,NaN,Finance,Finance Manager,"1,08,357"
29,Stevie Bridge,03-10-2011,NaN,Sales,Sales Manager,"1,25,600"
30,Alex Collins,10-01-2020,NaN,Procurement,Procurement Manager,"1,42,000"
31,Robert Richardson,01-11-2016,NaN,Sales,Head of Sales,"1,41,200"
32,Maisie Burton,12-11-2012,NaN,Management,Managing Director,"1,85,000"
33,Brittany Lee Long,22-10-2018,NaN,Management,Assistant to MD,"55,800"
34,Dan Ziegler,03-02-2020,NaN,Legal,Head of Legal,"1,25,000"
35,Daniela Schreiber,02-03-2015,NaN,Legal,Attorney,"91,000"

In [167]:
hr_data = pd.concat([df[0],df[1]], ignore_index=True)

In [168]:
hr_data

,Name,Start Date,End Date,Department,Position,Salary
0,Walter J Miller,15-01-2020,NaN,Sales,Sales Assistant,"25,709"
1,Alissa Mitchell,11-06-2019,NaN,Marketing,Marketing Assistant,"25,600"
2,Andre C Cooper,02-10-2018,NaN,Procurement,Procurement Assistant,"23,500"
3,Ann Withers,02-09-2019,03-02-2020,Procurement,Procurement Assistant,"23,500"
4,Ann Withers,03-02-2020,NaN,Procurement,Buyer,"25,000"
5,Kim West,01-02-2018,NaN,Sales,Sales Assistant,"26,500"
6,Daniel A Garrett,01-08-2017,NaN,Finance,Accountant,"24,700"
7,Lyric Nate Wise,24-04-2018,NaN,Sales,Sales Assistant,"24,200"
8,Robert Marquez,01-03-2017,NaN,Procurement,Buyer,"26,500"
9,Vanessa Chavez,29-11-2017,NaN,Sales,Sales Representative,"30,600"
10,Brylee Hunter,31-05-2017,NaN,Procurement,Buyer,"30,200"
11,Robert Musser,01-10-2018,NaN,Procurement,Buyer,"28,400"
12,Reid Good,14-03-2017,NaN,Sales,Sales Representative,"31,900"
13,Christopher P Sharp,22-08-2016,NaN,Sales,Sales Representative,"32,500"
14,Jessica Lowe,11-01-2017,NaN,Sales,Sales Representative,"32,800"
15,Evie Williamson,20-12-2016,NaN,Sales,Sales Assistant,"25,900"
16,Skye Bennett,31-10-2016,NaN,Finance,Accountant,"26,900"
17,Braeden Wilkins,23-03-2016,NaN,Finance,Accountant,"47,200"
18,Donald Caldwell,01-03-2017,03-06-2019,Finance,Financial Analyst,"29,800"
19,Donald Caldwell,03-06-2019,NaN,Finance,Controller,"40,000"
20,Amber Stevens,23-07-2018,NaN,Procurement,Buyer,"31,200"
21,Matilda Parry,04-07-2016,NaN,Sales,Regional Sales Manager,"49,500"
22,Makai Bond,04-11-2015,NaN,Sales,Sales Representative,"32,500"
23,Paul Garza,01-02-2016,NaN,Sales,Sales Representative,"34,808"
24,Nico Gaines,14-03-2017,NaN,Procurement,Buyer,"34,700"
25,Jordan Parry,21-08-2017,NaN,Marketing,Digital Marketing,"58,300"
26,Lamar Fry,31-08-2015,NaN,Sales,Sales Representative,"36,800"
27,Charlie Chambers,06-08-2015,NaN,Marketing,Digital Marketing,"36,400"
28,Natalie Porter,04-02-2019,02-01-2020,Sales,Sales Representative,"32,100"
29,Natalie Porter,02-01-2020,02-03-2020,Sales,Sales Analyst,"35,000"
30,Natalie Porter,02-03-2020,NaN,Finance,Financial Analyst,"35,000"
31,Jim Mcguire,20-06-2016,NaN,Sales,Sales Representative,"39,600"
32,Roger Mun,02-09-2013,NaN,Legal,Attorney,"89,700"
33,James Rogers,19-02-2015,NaN,Procurement,Buyer,"38,900"
34,Tommy K Dixon,06-10-2016,NaN,Sales,Sales Analyst,"38,500"
35,Robert Hurley,22-05-2017,NaN,Sales,Sales Analyst,"39,400"
36,Harry Burke,21-07-2014,NaN,Sales,Sales Analyst,"42,500"
37,Robert N Spear,05-01-2015,NaN,Sales,Sales Representative,"43,668"
38,Richard Elliot,05-11-2014,NaN,Finance,Financial Analyst,"49,727"
39,Aydin Merritt,04-11-2013,NaN,Sales,Sales Representative,"48,500"
40,James Willard,02-12-2013,Unnamed: 0,Sales,Sales Representative,"49,627"
41,Lukas Hofer,24-09-2018,NaN,Finance,Tax Analyst,"49,000"
42,Jude Bell,11-10-2013,NaN,Procurement,Lead Buyer,"56,500"
43,Heidi Medina,27-06-2014,NaN,Marketing,Marketing Manager,"79,600"
44,Ashton Kelly,13-08-2013,NaN,Procurement,Lead Buyer,"57,800"
45,Matthew Ross,24-07-2015,NaN,Procurement,Lead Buyer,"59,900"
46,Esme Carney,20-06-2016,NaN,Procurement,Buyer,"48,500"
47,Zac Fletcher,15-07-2013,NaN,Sales,Sales Assistant,"41,200"
48,Kristina Mclean,27-12-2013,NaN,Sales,Sales Analyst,"52,100"
49,Maria Tot,05-01-2015,NaN,Sales,Sales Representative,"88,000"
50,Wolfgang Ramjac,01-07-2002,NaN,Sales,Sales Representative,"1,16,000"
51,Tom Wood,08-05-2013,NaN,Procurement,Lead Buyer,"65,200"
52,Peter Ramsy,03-05-2010,NaN,Sales,Sales Representative,"65,432"
53,Betina Bauer,03-01-2019,NaN,Procurement,Buyer,"54,600"
54,Cora Briggs,16-09-2013,NaN,Procurement,Buyer,"51,300"
55,Matilda Collier,28-05-2013,NaN,Sales,Sales Representative,"65,200"
56,Mike Saban,10-08-2015,NaN,Procurement,Category Manager,"1,02,500"
57,Paul Wells,01-09-2016,NaN,Sales,Sales Representative,"63,500"
58,Ewan Long Thompson,03-09-2008,NaN,Sales,Regional Sales Manager,"70,270"
59,Gary Miller,04-09-2006,NaN,Finance,Controller,"65,270"
60,Holly Macdonald,04-11-2019,NaN,Finance,Insurance Advisor,"78,600"
61,Crystal Doyle,03-12-2012,NaN,Finance,Finance Director,"1,45,000"
62,Corinna Schmidt,15-07-2010,NaN,Procurement,Category Manager,"86,055"
63,Robert Blume,04-07-2016,NaN,Sales,Sales Representative,"59,600"
64,Brigitte Bond,02-03-2015,NaN,Sales,Regional Sales Manager,"1,15,000"
65,Cerys Holmes,07-08-2017,NaN,Finance,Tax Professional,"88,300"
66,Imogen Clarke,15-05-2019,NaN,Finance,Tax Professional,"86,500"
67,Paul Hill,05-04-2006,03-09-2018,Finance,Controller,"60,000"
68,Paul Hill,03-09-2018,NaN,Finance,Finance Manager,"1,08,357"
69,Stevie Bridge,03-10-2011,NaN,Sales,Sales Manager,"1,25,600"
70,Alex Collins,10-01-2020,NaN,Procurement,Procurement Manager,"1,42,000"
71,Robert Richardson,01-11-2016,NaN,Sales,Head of Sales,"1,41,200"
72,Maisie Burton,12-11-2012,NaN,Management,Managing Director,"1,85,000"
73,Brittany Lee Long,22-10-2018,NaN,Management,Assistant to MD,"55,800"
74,Dan Ziegler,03-02-2020,NaN,Legal,Head of Legal,"1,25,000"
75,Daniela Schreiber,02-03-2015,NaN,Legal,Attorney,"91,000"

In [176]:
hrd = hr_data.copy()

In [178]:
hrd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        76 non-null     object
 1   Start Date  76 non-null     object
 2   End Date    6 non-null      object
 3   Department  76 non-null     object
 4   Position    76 non-null     object
 5   Salary      76 non-null     object
dtypes: object(6)
memory usage: 3.7+ KB

In [214]:
hrd['End Date'].unique()

array([nan, '03-02-2020', '03-06-2019', '02-01-2020', '02-03-2020',
       'Unnamed: 0', '03-09-2018'], dtype=object)

In [194]:
hrd['End Date'].iloc[40]

'Unnamed: 0'

In [241]:
# np.nan
hrd['End Date'].iloc[40] = np.nan

In [242]:
hrd[hrd['End Date'].isnull() == True]

,Name,Start Date,End Date,Department,Position,Salary
0,Walter J Miller,15-01-2020,NaN,Sales,Sales Assistant,"25,709"
1,Alissa Mitchell,11-06-2019,NaN,Marketing,Marketing Assistant,"25,600"
2,Andre C Cooper,02-10-2018,NaN,Procurement,Procurement Assistant,"23,500"
4,Ann Withers,03-02-2020,NaN,Procurement,Buyer,"25,000"
5,Kim West,01-02-2018,NaN,Sales,Sales Assistant,"26,500"
6,Daniel A Garrett,01-08-2017,NaN,Finance,Accountant,"24,700"
7,Lyric Nate Wise,24-04-2018,NaN,Sales,Sales Assistant,"24,200"
8,Robert Marquez,01-03-2017,NaN,Procurement,Buyer,"26,500"
9,Vanessa Chavez,29-11-2017,NaN,Sales,Sales Representative,"30,600"
10,Brylee Hunter,31-05-2017,NaN,Procurement,Buyer,"30,200"
11,Robert Musser,01-10-2018,NaN,Procurement,Buyer,"28,400"
12,Reid Good,14-03-2017,NaN,Sales,Sales Representative,"31,900"
13,Christopher P Sharp,22-08-2016,NaN,Sales,Sales Representative,"32,500"
14,Jessica Lowe,11-01-2017,NaN,Sales,Sales Representative,"32,800"
15,Evie Williamson,20-12-2016,NaN,Sales,Sales Assistant,"25,900"
16,Skye Bennett,31-10-2016,NaN,Finance,Accountant,"26,900"
17,Braeden Wilkins,23-03-2016,NaN,Finance,Accountant,"47,200"
19,Donald Caldwell,03-06-2019,NaN,Finance,Controller,"40,000"
20,Amber Stevens,23-07-2018,NaN,Procurement,Buyer,"31,200"
21,Matilda Parry,04-07-2016,NaN,Sales,Regional Sales Manager,"49,500"
22,Makai Bond,04-11-2015,NaN,Sales,Sales Representative,"32,500"
23,Paul Garza,01-02-2016,NaN,Sales,Sales Representative,"34,808"
24,Nico Gaines,14-03-2017,NaN,Procurement,Buyer,"34,700"
25,Jordan Parry,21-08-2017,NaN,Marketing,Digital Marketing,"58,300"
26,Lamar Fry,31-08-2015,NaN,Sales,Sales Representative,"36,800"
27,Charlie Chambers,06-08-2015,NaN,Marketing,Digital Marketing,"36,400"
30,Natalie Porter,02-03-2020,NaN,Finance,Financial Analyst,"35,000"
31,Jim Mcguire,20-06-2016,NaN,Sales,Sales Representative,"39,600"
32,Roger Mun,02-09-2013,NaN,Legal,Attorney,"89,700"
33,James Rogers,19-02-2015,NaN,Procurement,Buyer,"38,900"
34,Tommy K Dixon,06-10-2016,NaN,Sales,Sales Analyst,"38,500"
35,Robert Hurley,22-05-2017,NaN,Sales,Sales Analyst,"39,400"
36,Harry Burke,21-07-2014,NaN,Sales,Sales Analyst,"42,500"
37,Robert N Spear,05-01-2015,NaN,Sales,Sales Representative,"43,668"
38,Richard Elliot,05-11-2014,NaN,Finance,Financial Analyst,"49,727"
39,Aydin Merritt,04-11-2013,NaN,Sales,Sales Representative,"48,500"
40,James Willard,02-12-2013,NaN,Sales,Sales Representative,"49,627"
41,Lukas Hofer,24-09-2018,NaN,Finance,Tax Analyst,"49,000"
42,Jude Bell,11-10-2013,NaN,Procurement,Lead Buyer,"56,500"
43,Heidi Medina,27-06-2014,NaN,Marketing,Marketing Manager,"79,600"
44,Ashton Kelly,13-08-2013,NaN,Procurement,Lead Buyer,"57,800"
45,Matthew Ross,24-07-2015,NaN,Procurement,Lead Buyer,"59,900"
46,Esme Carney,20-06-2016,NaN,Procurement,Buyer,"48,500"
47,Zac Fletcher,15-07-2013,NaN,Sales,Sales Assistant,"41,200"
48,Kristina Mclean,27-12-2013,NaN,Sales,Sales Analyst,"52,100"
49,Maria Tot,05-01-2015,NaN,Sales,Sales Representative,"88,000"
50,Wolfgang Ramjac,01-07-2002,NaN,Sales,Sales Representative,"1,16,000"
51,Tom Wood,08-05-2013,NaN,Procurement,Lead Buyer,"65,200"
52,Peter Ramsy,03-05-2010,NaN,Sales,Sales Representative,"65,432"
53,Betina Bauer,03-01-2019,NaN,Procurement,Buyer,"54,600"
54,Cora Briggs,16-09-2013,NaN,Procurement,Buyer,"51,300"
55,Matilda Collier,28-05-2013,NaN,Sales,Sales Representative,"65,200"
56,Mike Saban,10-08-2015,NaN,Procurement,Category Manager,"1,02,500"
57,Paul Wells,01-09-2016,NaN,Sales,Sales Representative,"63,500"
58,Ewan Long Thompson,03-09-2008,NaN,Sales,Regional Sales Manager,"70,270"
59,Gary Miller,04-09-2006,NaN,Finance,Controller,"65,270"
60,Holly Macdonald,04-11-2019,NaN,Finance,Insurance Advisor,"78,600"
61,Crystal Doyle,03-12-2012,NaN,Finance,Finance Director,"1,45,000"
62,Corinna Schmidt,15-07-2010,NaN,Procurement,Category Manager,"86,055"
63,Robert Blume,04-07-2016,NaN,Sales,Sales Representative,"59,600"
64,Brigitte Bond,02-03-2015,NaN,Sales,Regional Sales Manager,"1,15,000"
65,Cerys Holmes,07-08-2017,NaN,Finance,Tax Professional,"88,300"
66,Imogen Clarke,15-05-2019,NaN,Finance,Tax Professional,"86,500"
68,Paul Hill,03-09-2018,NaN,Finance,Finance Manager,"1,08,357"
69,Stevie Bridge,03-10-2011,NaN,Sales,Sales Manager,"1,25,600"
70,Alex Collins,10-01-2020,NaN,Procurement,Procurement Manager,"1,42,000"
71,Robert Richardson,01-11-2016,NaN,Sales,Head of Sales,"1,41,200"
72,Maisie Burton,12-11-2012,NaN,Management,Managing Director,"1,85,000"
73,Brittany Lee Long,22-10-2018,NaN,Management,Assistant to MD,"55,800"
74,Dan Ziegler,03-02-2020,NaN,Legal,Head of Legal,"1,25,000"
75,Daniela Schreiber,02-03-2015,NaN,Legal,Attorney,"91,000"

In [235]:
hrd['End Date'].isnull()

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28    False
29    False
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40    False
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
59     True
60     True
61     True
62     True
63     True
64     True
65     True
66     True
67    False
68     True
69     True
70     True
71     True
72     True
73     True
74     True
75     True
Name: End Date, dtype: bool

In [246]:
hrd['End Date'].fillna('Not', inplace=True)

In [247]:
hrd

,Name,Start Date,End Date,Department,Position,Salary
0,Walter J Miller,15-01-2020,Not,Sales,Sales Assistant,"25,709"
1,Alissa Mitchell,11-06-2019,Not,Marketing,Marketing Assistant,"25,600"
2,Andre C Cooper,02-10-2018,Not,Procurement,Procurement Assistant,"23,500"
3,Ann Withers,02-09-2019,03-02-2020,Procurement,Procurement Assistant,"23,500"
4,Ann Withers,03-02-2020,Not,Procurement,Buyer,"25,000"
5,Kim West,01-02-2018,Not,Sales,Sales Assistant,"26,500"
6,Daniel A Garrett,01-08-2017,Not,Finance,Accountant,"24,700"
7,Lyric Nate Wise,24-04-2018,Not,Sales,Sales Assistant,"24,200"
8,Robert Marquez,01-03-2017,Not,Procurement,Buyer,"26,500"
9,Vanessa Chavez,29-11-2017,Not,Sales,Sales Representative,"30,600"
10,Brylee Hunter,31-05-2017,Not,Procurement,Buyer,"30,200"
11,Robert Musser,01-10-2018,Not,Procurement,Buyer,"28,400"
12,Reid Good,14-03-2017,Not,Sales,Sales Representative,"31,900"
13,Christopher P Sharp,22-08-2016,Not,Sales,Sales Representative,"32,500"
14,Jessica Lowe,11-01-2017,Not,Sales,Sales Representative,"32,800"
15,Evie Williamson,20-12-2016,Not,Sales,Sales Assistant,"25,900"
16,Skye Bennett,31-10-2016,Not,Finance,Accountant,"26,900"
17,Braeden Wilkins,23-03-2016,Not,Finance,Accountant,"47,200"
18,Donald Caldwell,01-03-2017,03-06-2019,Finance,Financial Analyst,"29,800"
19,Donald Caldwell,03-06-2019,Not,Finance,Controller,"40,000"
20,Amber Stevens,23-07-2018,Not,Procurement,Buyer,"31,200"
21,Matilda Parry,04-07-2016,Not,Sales,Regional Sales Manager,"49,500"
22,Makai Bond,04-11-2015,Not,Sales,Sales Representative,"32,500"
23,Paul Garza,01-02-2016,Not,Sales,Sales Representative,"34,808"
24,Nico Gaines,14-03-2017,Not,Procurement,Buyer,"34,700"
25,Jordan Parry,21-08-2017,Not,Marketing,Digital Marketing,"58,300"
26,Lamar Fry,31-08-2015,Not,Sales,Sales Representative,"36,800"
27,Charlie Chambers,06-08-2015,Not,Marketing,Digital Marketing,"36,400"
28,Natalie Porter,04-02-2019,02-01-2020,Sales,Sales Representative,"32,100"
29,Natalie Porter,02-01-2020,02-03-2020,Sales,Sales Analyst,"35,000"
30,Natalie Porter,02-03-2020,Not,Finance,Financial Analyst,"35,000"
31,Jim Mcguire,20-06-2016,Not,Sales,Sales Representative,"39,600"
32,Roger Mun,02-09-2013,Not,Legal,Attorney,"89,700"
33,James Rogers,19-02-2015,Not,Procurement,Buyer,"38,900"
34,Tommy K Dixon,06-10-2016,Not,Sales,Sales Analyst,"38,500"
35,Robert Hurley,22-05-2017,Not,Sales,Sales Analyst,"39,400"
36,Harry Burke,21-07-2014,Not,Sales,Sales Analyst,"42,500"
37,Robert N Spear,05-01-2015,Not,Sales,Sales Representative,"43,668"
38,Richard Elliot,05-11-2014,Not,Finance,Financial Analyst,"49,727"
39,Aydin Merritt,04-11-2013,Not,Sales,Sales Representative,"48,500"
40,James Willard,02-12-2013,Not,Sales,Sales Representative,"49,627"
41,Lukas Hofer,24-09-2018,Not,Finance,Tax Analyst,"49,000"
42,Jude Bell,11-10-2013,Not,Procurement,Lead Buyer,"56,500"
43,Heidi Medina,27-06-2014,Not,Marketing,Marketing Manager,"79,600"
44,Ashton Kelly,13-08-2013,Not,Procurement,Lead Buyer,"57,800"
45,Matthew Ross,24-07-2015,Not,Procurement,Lead Buyer,"59,900"
46,Esme Carney,20-06-2016,Not,Procurement,Buyer,"48,500"
47,Zac Fletcher,15-07-2013,Not,Sales,Sales Assistant,"41,200"
48,Kristina Mclean,27-12-2013,Not,Sales,Sales Analyst,"52,100"
49,Maria Tot,05-01-2015,Not,Sales,Sales Representative,"88,000"
50,Wolfgang Ramjac,01-07-2002,Not,Sales,Sales Representative,"1,16,000"
51,Tom Wood,08-05-2013,Not,Procurement,Lead Buyer,"65,200"
52,Peter Ramsy,03-05-2010,Not,Sales,Sales Representative,"65,432"
53,Betina Bauer,03-01-2019,Not,Procurement,Buyer,"54,600"
54,Cora Briggs,16-09-2013,Not,Procurement,Buyer,"51,300"
55,Matilda Collier,28-05-2013,Not,Sales,Sales Representative,"65,200"
56,Mike Saban,10-08-2015,Not,Procurement,Category Manager,"1,02,500"
57,Paul Wells,01-09-2016,Not,Sales,Sales Representative,"63,500"
58,Ewan Long Thompson,03-09-2008,Not,Sales,Regional Sales Manager,"70,270"
59,Gary Miller,04-09-2006,Not,Finance,Controller,"65,270"
60,Holly Macdonald,04-11-2019,Not,Finance,Insurance Advisor,"78,600"
61,Crystal Doyle,03-12-2012,Not,Finance,Finance Director,"1,45,000"
62,Corinna Schmidt,15-07-2010,Not,Procurement,Category Manager,"86,055"
63,Robert Blume,04-07-2016,Not,Sales,Sales Representative,"59,600"
64,Brigitte Bond,02-03-2015,Not,Sales,Regional Sales Manager,"1,15,000"
65,Cerys Holmes,07-08-2017,Not,Finance,Tax Professional,"88,300"
66,Imogen Clarke,15-05-2019,Not,Finance,Tax Professional,"86,500"
67,Paul Hill,05-04-2006,03-09-2018,Finance,Controller,"60,000"
68,Paul Hill,03-09-2018,Not,Finance,Finance Manager,"1,08,357"
69,Stevie Bridge,03-10-2011,Not,Sales,Sales Manager,"1,25,600"
70,Alex Collins,10-01-2020,Not,Procurement,Procurement Manager,"1,42,000"
71,Robert Richardson,01-11-2016,Not,Sales,Head of Sales,"1,41,200"
72,Maisie Burton,12-11-2012,Not,Management,Managing Director,"1,85,000"
73,Brittany Lee Long,22-10-2018,Not,Management,Assistant to MD,"55,800"
74,Dan Ziegler,03-02-2020,Not,Legal,Head of Legal,"1,25,000"
75,Daniela Schreiber,02-03-2015,Not,Legal,Attorney,"91,000"